<% cat = cat %>
<% persisted = cat.persisted? %>
<% url = persisted ? cat_url(cat) : cats_url  %>
<% text = persisted ? "Update" : "Create" %>

<form class="session-form" action="<%= url %>" method="post">
  <% if persisted %>
    <input type="hidden" name="_method" value="patch" />
  <% end %>

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%= cat.name %>"/>

  <br />
  <br />

  <fieldset>
    <legend>Sex</legend>
    <input id="male" type="radio" name="cat[sex]" value="M" <%= "checked" if cat.sex == "M" %>/>
    <label for="male">Male</label>
    <input id="female" type="radio" name="cat[sex]" value="F" <%= "checked" if cat.sex == "F" %>/>
    <label for="female">Female</label>
  </fieldset>

  <br />
  <br />

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected>-- Select a color --</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>" <%= "selected" if color === cat.color %>><%= color %></option>
    <% end %>
  </select>

  <br />
  <br />

  <label for="birthdate">Birthdate</label>
  <input id="birthdate" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>"/>

  <br />
  <br />

  <label for="description">Description</label>
  <textarea id="description" name="cat[description]">
    <%= cat.description %>
  </textarea>

  <br />
  <br />
  <button><%= text %> Cat</button>
</form>