<h1><%= @cat.name %></h1>

<p><%= @cat.birth_date %></p>
<p><%= @cat.color %></p>
<p><%= @cat.sex %></p>
<p><%= @cat.description %></p>

<h2>Rental Request</h2>

<ul>
  <% @rental_requests.each do |rental_request| %>
    <li style="display: flex; gap: 2rem; align-items: center">
      <p><%= rental_request.start_date %></p>
      <p><%= rental_request.end_date %></p>
      <p><%= rental_request.status %></p>

      <% if rental_request.pending? %>
        <form method="post" action="<%= approve_cat_rental_request_url(rental_request.id) %>">
          <button type="submit">Approve</button>
        </form>

        <form method="post" action="<%= deny_cat_rental_request_url(rental_request.id) %>">
          <button type="submit">Denied</button>
        </form>
      <% end %>
    </li>
  <% end %>
</ul>

<a href="<%= edit_cat_url(@cat) %>">Edit</a>